[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/b-ryan/powerline-shell
